# Shared key for device authentication
key = "Cisco12345"

# Accounting log file
accounting file = /var/log/tac_plus.acct

# Group definition
group = standard1 {
}

group = standard2 {
    service = exec {
        priv-lvl = 2
}

group = standard3 {
    cmd = show {
        permit .*
    }
    cmd = enable {
        permit .*
    }
    cmd = exit {
        permit .*
    }
}

group = elevated {
    default service = permit
    service = exec {
        priv-lvl = 15
    }
}

# User definition
user = user1 {
    member = standard1
    login = cleartext "cisco1"
    enable = cleartext "cisco1"
}

user = user2 {
    member = standard2
    login = cleartext "cisco2"
    enable = cleartext "cisco2"
}

user = user3 {
    member = standard3
    login = cleartext "cisco3"
    enable = cleartext "cisco3"
}

user = user4 {
    member = elevated
    login = cleartext "cisco4"
    enable = cleartext "cisco4"
}
